/*
    * Busy 收集 整理
 */
/*雅虎（YUI 3）reset*/
/*Normalize.css*/
@font-face {
  font-family: "Hex-monograms";
  src: url('../fonts/Hex-monograms.otf') format('otf'), url('../fonts/Hex-monograms.ttf') format('truetype'), url('../fonts/Hex-ornate.otf') format('otf'), url('../fonts/Hex-ornate.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* latin */
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Slab'), local('JosefinSlab'), url(../fonts/46aYWdgz-1oFX11flmyEfegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Slab Bold'), local('JosefinSlab-Bold'), url(../fonts/NbE6ykYuM2IyEwxQxOIi2HNuWYKPzoeKl5tYj8yhly0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  border: none;
}
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
body {
  font: 500 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
  background: #dddddd;
}
@media print {
  body {
    font: 500 10px PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
  }
  body a {
    text-decoration: underline;
  }
}
@media not print {
  .only-print {
    display: none !important;
  }
}
@media print {
  .only-screen {
    display: none !important;
  }
}
.mainBody {
  width: 90%;
  max-width: 960px;
  margin: 3em auto;
  background: #6ad4db;
  border-radius: 3px;
  box-shadow: 5px 7px 10px 10px #999999;
}
@media print {
  .mainBody {
    width: 100%;
    max-width: 100%;
    margin: 0;
    border: none;
    box-shadow: none;
  }
}
@media screen and (max-width: 680px) {
  .mainBody {
    width: 100%;
    margin: 0;
    border: none;
    box-shadow: none;
  }
}
.mainBody header {
  height: 110px;
  background-color: #F3FAFB;
  align-items: center;
  padding: 0 10%;
  display: flex;
  flex-direction: row;
}
@media print {
  .mainBody header {
    height: 46px;
    padding: 0 7%;
  }
}
@media screen and (max-width: 680px) {
  .mainBody header {
    height: 60px;
    padding: 0 7%;
  }
}
.mainBody header #logo {
  font-family: 'Hex-monograms';
  font-size: 70px;
  color: #84cad7;
  line-height: 76px;
  height: 65px;
}
@media screen and (max-width: 680px) {
  .mainBody header #logo {
    font-size: 55px;
  }
}
.mainBody header .null_screen,
.mainBody header .null_print {
  flex: 1;
}
.mainBody header #bigName {
  color: #84cad7;
}
.mainBody .content {
  margin: 0 auto;
  padding: 5% 10%;
}
@media print {
  .mainBody .content {
    padding: 0;
  }
}
@media screen and (max-width: 680px) {
  .mainBody .content {
    padding: 3% 0;
  }
}
.term h3 {
  display: flex;
  align-content: center;
  flex-direction: row;
}
@media print {
  .term h3 {
    height: 22px;
    line-height: 22px;
  }
}
.term h3 .icon {
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid #000000;
  border-radius: 50%;
}
@media print {
  .term h3 .icon {
    height: 15px;
    visibility: hidden;
  }
}
@media screen and (max-width: 680px) {
  .term h3 .icon {
    height: 5px;
    width: 5px;
    visibility: hidden;
  }
}
.term h3 .icon .line {
  width: 15px;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: -2px;
  right: -2px;
}
.term h3 .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.term h3 .title {
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
  border-bottom: 2px solid #000;
}
@media print {
  .term h3 .title {
    border: none;
  }
}
.term .main {
  margin: 10px 50px;
  position: relative;
}
@media print {
  .term .main {
    line-height: 20px;
    margin: 5px 50px;
  }
}
.term .main a {
  color: #D0648A;
  text-shadow: 1px 1px 1px #f2bed1;
}
.term .main b {
  color: #D0648A;
  text-shadow: 1px 1px 1px #f2bed1;
}
.term .main a:hover {
  text-decoration: underline;
}
.term .main .blank {
  padding: 0 4px;
}
@media screen and (min-width: 600px) {
  .term .main .fix-wrap {
    display: flex;
    flex-direction: row;
  }
}
.term .main .emphasis {
  color: #D0648A;
  font-weight: bold;
  text-shadow: 1px 1px 1px #f2bed1;
}
.term .main .fa {
  margin-right: 8px;
}
.term .main .con {
  margin-left: 32px;
}
.term .main .heading {
  display: flex;
  align-content: center;
}
@media screen and (max-width: 780px) {
  .term .main .heading {
    flex-direction: column;
  }
}
.term .main .heading .bold {
  display: block;
}
.term .main .heading .null {
  flex: 1;
}
.term .main .heading .source {
  margin: 0 10px;
}
@media screen and (max-width: 780px) {
  .term .main .heading .source {
    display: none;
  }
}
.term .main .heading .demo {
  margin: 0 10px;
}
@media screen and (max-width: 600px) {
  .term .main .heading .blog {
    display: none;
  }
}
.term .hide {
  display: none;
}
.term .more,
.term .less {
  z-index: 1;
  position: absolute;
  height: 28px;
  line-height: 28px;
  right: 0;
  bottom: 0;
  color: #D0648A;
  text-shadow: 1px 1px 1px #f2bed1;
}
.term .less {
  display: none;
}
.term input {
  width: 55px;
  height: 28px;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
}
.term input:hover {
  cursor: pointer;
}
.term .more-input {
  z-index: 3;
}
.term .more-input:checked {
  display: none;
}
.term .more-input:checked ~ .hide {
  display: block;
}
.term .more-input:checked ~ .more {
  display: none;
}
.term .more-input:checked ~ .less {
  display: block;
}
.term .less-input {
  z-index: 2;
}
.term .less-input:checked ~ .more-input {
  display: block;
}
.term .less-input:checked ~ .hide {
  display: none;
}
.term .less-input:checked ~ .more {
  display: block;
}
.term .less-input:checked ~ .less {
  display: none;
}
.download {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
@media screen and (max-width: 1256px) {
  .download {
    display: none;
  }
}
.download ul li {
  background: #84cad7;
  width: 70px;
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #999999;
  margin-bottom: 20px;
}
.download ul li a {
  color: #000;
}
.download ul li a:hover {
  color: #D0648A;
  text-decoration: underline;
}
.download ul li:last-child {
  margin-bottom: 0;
}
.copyright {
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  line-height: 60px;
  color: #000;
}
.copyright .copyright-download {
  display: none;
}
@media screen and (max-width: 1256px) {
  .copyright .copyright-download {
    display: flex;
  }
}
.copyright p {
  margin: 0;
}
.copyright .wechat {
  position: relative;
  cursor: pointer;
}
.copyright .wechat .wechatPage {
  width: 200px;
  height: 250px;
  position: absolute;
  bottom: 100%;
  right: 0;
  border-radius: 5px;
  box-shadow: 6px 16px 26px -5px rgba(0, 0, 0, 0.6);
  opacity: 0;
  transform: scale(0.01);
  transform-origin: 95% 95%;
  transition: all .6s;
}
.copyright .wechat .wechatPage img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.copyright .wechat .wechatPage:after {
  content: '';
  position: absolute;
  bottom: -24px;
  right: 10px;
  border-style: solid;
  border-color: #637368 transparent transparent transparent;
  border-width: 12px;
}
.copyright .wechat:hover .wechatPage {
  transform: scale(1);
  opacity: 1;
}
